/* Global View aka Deskop View */


.container {
    background-color: rgb(43,226,147);
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    /* W zasadzie te 3 liniki niżej robią robote */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    background-color: rgb(247, 8, 131);
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
}
.hide-deskop {
    display: none;
}
.hide-mobile {
    display: block;
}

/* Tablet View */
/* Jesli taki warunek sie wykona (działa w obie strony) */
@media (max-width: 768px) {
    .col {
        width: 47%;
    }
    .hide-deskop {
        display: block;
    }
}


/* Mobile View */
/* Dla mobile mniej, np 400px, ale nie da sie bardziej chroma zwęższyć */
@media (max-width: 500px) {
    .col {
        width: 100%;
    }
    .hide-mobile {
        display: none;
    }
}