/* Global View aka Deskop View */

body {
    font-family: 'Asap', sans-serif;
    background-color: #EBEBEB;
}
.bold {
    font-weight: 700;
}
.header-container {
    background-color: #484848;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}
header {
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 100px;
    box-sizing: border-box;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.my-btn {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 3px;
}
.my-btn:hover {
    background-color: #6a6a6a;
    transition: 200ms;
}
.header-btns-container {
    display: flex;
    gap: 15px;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    /* W zasadzie te 3 liniki niżej robią robote */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}
.col {
    background-color: #2DBE8E;
    width: 30%;
    margin-bottom: 40px;
}
.col p {
    color: white;
    padding: 20px 25px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.col p::first-line {
    font-weight: bold;
}
.hide-deskop {
    display: none;
}
.col img {
    width: 100%;
}
.mobile-wrapper {
    display: none;
}

/* Tablet View */
/* Jesli taki warunek sie wykona (działa w obie strony) */
@media (max-width: 768px) {
    .col {
        width: 47%;
    }
    .hide-deskop {
        display: block;
    }
    .hide-mobile {
        display: block;
    }
    .header-btns-container {
        display: none;
    }
    .mobile-wrapper {
        display: block;
    }
    .mobile-nav {
        position: absolute;
        margin-left: -60px; /* dla absolute, margin-right nie dziala :) */
    }
    header p {
        padding-left: 20px;
    }
    .nav-btn {
        display: block;
        background-color: coral;
        padding: 15px 25px;
        text-align: center;
    }
    .burger-menu {
        width: 40px;
        padding-right: 25px;
        padding-top: 10px;
    }
    
}

/* Mobile View */
/* Dla mobile mniej, np 400px, ale nie da sie bardziej chroma zwęższyć */
@media (max-width: 500px) {
    .col {
        width: 100%;
    }
}